body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.questionbox {
    text-align: center;
}

.question {
    font-size: 18px;
    margin-bottom: 15px;
}

.answer {
    padding: 8px;
    width: 60%;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-btn, .next-btn {
    padding: 10px 20px;
    background-color: #1f1f1f2d;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover, .next-btn:hover {
    background-color: #707070;
}

.feedback {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000000;
}

.next-btn {
    display: none;
}
